<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Post Database</title>
</head>
<body>
    <h3>My Posts</h3>
    <ul>
        {{#blogposts}}
            <li>
                {{title}}
                {{body}}
                {{date_created}}
            </li>
        {{/blogposts}}
    </ul>
    <a href="/add-post">Add Post</a>

            {{^blogposts}}
            <p>
            You have no blog posts at this time.
            </p>
            <a href="/add-post">Add Post</a>
            {{/blogposts}}
</body>
</html>